.header.col-4.d-flex.flex-row
  img.svg(src="../app/src/img/logo.svg" width="25px", height="40px")
  .navig.d-flex.flex-row.align-items-center.justify-content-center
    a.nav-link.link-light.d-flex.align-items-center.active(href='#')
      img.contacs(src="../app/src/img/people.svg" width="25px", height="25px")
      p.small.d-none.d-md-inline-block Контакты
    a.nav-link.link-light.d-flex.align-items-center.active(href='#')
      img.chat(src="../app/src/img/chat.svg" width="25px", height="25px")
      p.small.d-none.d-md-inline-block Сообщения
    a.nav-link.link-light.d-flex.align-items-center.active(href='#')
      img.person(src="../app/src/img/person.svg" width="25px", height="25px")
      p.small.d-none.d-md-inline-block Профиль
