.right-side.bg-white.overflow-auto.hide-scroll.border-0.border-start.d-none.d-md-block.m-0.w-100.radius-right
  .d-flex.flex-column.align-items-center.justify-content-center.h-100
    img.rounded-circle.main-img.mb-3(src="../app/src/img/avatar_1.jpg")
    p.fw-bold.m-0 Привет, Кодовёнок
    p.small.m-0.text-muted Выбери чат, чтобы начать общаться