.border {
  border-radius: 1rem;
  border: 5px solid gray;
}

* {
  margin: 0;
  padding: 0;
}

body {
  orientation: landscape;
  background-color: #EFEFEF;
}

.bg-primaryy {
  background-color: #4545a5;
  width: 557px;
}

::before {

}

.send-button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin: 18px 0;
}

.chat-message {
  max-width: 557px;
  border-radius: 16px;
}

.cont {
  padding-left: 24px;
}

.w-384 {
  width: 384px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mt-88 {
  margin-top: 88px;
  margin-bottom: 88px;
}

.scroll {
  overflow-y: scroll;
  height: 1056px;
  @include hide-scrollbar
}

.point {
  width: 1392px;
  background-color: white;
  margin: 24px;
  border-radius: 1rem;
}

.right-side {
  height: 1056px;
  width: 928px;
  border-top-right-radius: 1rem;
}

.search {
  margin: 48px 0 24px 0;
}

.hr {
  width: 416px;
  margin-top: 0;
  margin-left: 24px;
  background-color: #EFEFEF;
}

.w-416 {
  width: 416px;
}

.alf {
  margin-bottom: 17px;
  margin-left: 24px;
}

.avatar {
  width: 50px;
  height: 50px;
  margin: 21px 24px 22px 16px;
}

.profil {
  height: 93px;
  width: 416px;
  margin-left: 24px;
}

.font {
  font-size: 80%;
}

.mb-44 {
  margin-bottom: 44px;
}

.mb-14 {
  margin-bottom: 14px;
}


.main-img {
  width: 200px;
  height: 200px;
}



.mt-18 {
  margin-top: 18px;
}

a {
  text-decoration: none;
}

.profil:hover {
  background-color: #4545a5;

  .font {
    color:  #EFEFEF;
  }

}

.left-side {
  width: 464px;
}

.font .profil:hover {
  color:  #EFEFEF;
}

strong .profil:hover {
  color: #FBFBFB;
}

.txto-e {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.color {
  color: #EFEFEF;
}

.time {
  text-align: right;
}

.w-286 {
  width: 286px;
}